<footer class="footer_section" <% if (!eng) { %>
  dir="rtl" <% } %>>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 footer_col">
        <div class="footer_contact">
          <h4><% if (eng) { %> Reach at.. <% } else { %> تواصل معنا <% } %></h4>
          <div class="contact_link_box">
            <a
              href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3456.862990518348!2d31.3019444!3d30.0905833!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzDCsDA1JzI2LjEiTiAzMcKwMTgnMDcuMCJF!5e0!3m2!1sen!2seg!4v1694523456789"
            >
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                <% if (eng) { %> Location <% } else { %> الموقع<% } %>
              </span>
            </a>
            <a href="tel:+201002237799">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                <% if(eng) { %> Call <% } else { %> اتصل علي <% } %>
                +201002237799
              </span>
            </a>
            <a href="tel:+201158421007">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                <% if(eng) { %> Call <% } else { %> اتصل علي <% } %>
                +201158421007
              </span>
            </a>
            <a href="tel:+201017088930">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                <% if(eng) { %> Call <% } else { %> اتصل علي <% } %>
                +201017088930
              </span>
            </a>
            <a href="mailto:Alhayatgroup2019@gmail.com">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span> Alhayatgroup2019@gmail.com </span>
            </a>
          </div>
        </div>
        <div class="footer_social">
          <a href="https://www.facebook.com/elhayatgroup30?mibextid=ZbWKwL">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="https://wa.me/+201002237799">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
          </a>
          <a
            href="https://www.instagram.com/alhayatgroup2019/?utm_source=qr&r=nametag"
          >
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-lg-2 mx-auto footer_col">
        <div class="footer_link_box">
          <h4><% if (eng) { %> Links <% } else { %> الروابط <% } %></h4>
          <div class="footer_links">
            <a class="active" href="/elhayatgroup">
              <% if (eng) { %> Home <% } else { %> الصفحة الرئيسية <% } %>
            </a>
            <a class="" href="/elhayatgroup/about">
              <% if (eng) { %> About <% } else { %> حول <% } %>
            </a>
            <a class="" href="/elhayatgroup/services">
              <% if (eng) { %> Services <% } else { %> الخدمات <% } %>
            </a>
            <a class="" href="/elhayatgroup/jobs">
              <% if (eng) { %> Jobs <% } else { %> الوظائف <% } %>
            </a>
            <a class="" href="/elhayatgroup/contact">
              <% if (eng) { %> Contact Us <% } else { %> اتصل بنا <% } %>
            </a>
            <a class="" href="/elhayatgroup/blog">
              <% if (eng) { %> Blog <% } else { %> المدونة <% } %>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-info">
      <p>
        <% if (eng) { %> © 2020 All Rights Reserved By Al Hayat Group <% } else
        { %> © 2020 جميع الحقوق محفوظة لـ الحيات جروب <% } %>
      </p>
    </div>
  </div>
</footer>
