<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link
    rel="shortcut icon"
    href="/elhayagroup/assets/images/favicon.png"
    type=""
  />

  <title>Al Hayat Group</title>

  <link
    rel="stylesheet"
    type="text/css"
    href="/elhayagroup/assets/css/bootstrap.css"
  />

  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  />

  <link href="/elhayagroup/assets/css/font-awesome.min.css" rel="stylesheet" />

  <% if (eng) { %>
  <link href="/elhayagroup/assets/css/style.css" rel="stylesheet" />
  <% } else { %>
  <link href="/elhayagroup/assets/css/style.rtl.css" rel="stylesheet" />
  <% } %>
  <link href="/elhayagroup/assets/css/responsive.css" rel="stylesheet" />
</head>
