<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5" id="sh-rtl">
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <img src="images/easyweb2.png" alt="" />
          <p>
            <% if (lang === "ar") { %> في EASYWEB، مهمتنا هي تبسيط العالم الرقمي
            من خلال إنشاء حلول برمجية مبتكرة وسهلة الاستخدام. <% } else { %> At
            EASYWEB, our mission is to simplify the digital world by creating
            innovative, user-friendly software solutions. <% } %>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">
            <% if (lang === "ar") { %> روابط سريعة <% } else { %> Quick Links <%
            } %>
          </h2>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="py-2 d-block"
                ><% if (lang === "ar") { %> الرئيسية <% } else { %> Home <% }
                %></a
              >
            </li>
            <li>
              <a href="#About" class="py-2 d-block"
                ><% if (lang === "ar") { %> من نحن <% } else { %> About <% }
                %></a
              >
            </li>
            <li>
              <a href="#Services" class="py-2 d-block"
                ><% if (lang === "ar") { %> الخدمات <% } else { %> Services <% }
                %></a
              >
            </li>
            <li>
              <a href="#Pricing" class="py-2 d-block"
                ><% if (lang === "ar") { %> التسعير <% } else { %> Pricing <% }
                %></a
              >
            </li>
            <li>
              <a href="#Contact" class="py-2 d-block"
                ><% if (lang === "ar") { %> اتصل بنا <% } else { %> Contact <% }
                %></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">
            <% if (lang === "ar") { %> معلومات الاتصال <% } else { %> Contact
            Info <% } %>
          </h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <a href="tel://+201212158465">
                  <span class="icon icon-phone"></span>
                  <span class="text">01212158465</span>
                </a>
              </li>
              <li>
                <a href="tel://+201147098469">
                  <span class="icon icon-phone"></span>
                  <span class="text">01147098469</span>
                </a>
              </li>
              <li>
                <a href="mailto:ezweb2024@gmail.com">
                  <span class="icon icon-envelope"></span>
                  <span class="text">info@yourdomain.com</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <% if (lang === "ar") { %> EASYWEB &copy; 2024 جميع الحقوق محفوظة <% }
          else { %> EASYWEB &copy; 2024 All rights reserved <% } %>
        </p>
      </div>
    </div>
  </div>
</footer>
