<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700"
    rel="stylesheet"
  />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="/css/animate.css" />

  <link rel="stylesheet" href="/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
  <link rel="stylesheet" href="/css/magnific-popup.css" />

  <link rel="stylesheet" href="/css/aos.css" />

  <link rel="stylesheet" href="/css/ionicons.min.css" />

  <link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
  <link rel="stylesheet" href="/css/jquery.timepicker.css" />

  <link rel="stylesheet" href="/css/flaticon.css" />
  <link rel="stylesheet" href="/css/icomoon.css" />
  <link rel="stylesheet" href="<%= lang !== "en" ? "/css/styleRtl.css" :
  "/css/style.css"%>" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap"
    rel="stylesheet"
  />

  <title>
    <% if (lang !== "en") { %> EASYWEB | حلول الويب الخاصة بك ببساطة <% } else {
    %> EASYWEB | Your Web Solution Simplified <% } %>
  </title>
</head>
