<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container" id="sh-rtl">
    <a class="navbar-brand" href="/">
      <img src="/images/easyweb.png" alt="easyweb logo" style="width: 150px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bx bx-menu"></i>
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="#" class="nav-link">
            <% if (lang !== "ar") { %> Home <% } else { %> الصفحة الرئيسية <% }
            %>
          </a>
        </li>
        <li class="nav-item">
          <a href="#About" class="nav-link">
            <% if (lang !== "ar") { %> About Us <% } else { %> معلومات عنا <% }
            %>
          </a>
        </li>
        <li class="nav-item">
          <a href="#Services" class="nav-link">
            <% if (lang !== "ar") { %> Services <% } else { %> الخدمات <% } %>
          </a>
        </li>
        <li class="nav-item">
          <a href="#Pricing" class="nav-link">
            <% if (lang !== "ar") { %> Pricing <% } else { %> الاسعار <% } %>
          </a>
        </li>
        <li class="nav-item">
          <% if (lang === "en") { %>
          <a href="/ar" class="nav-link">عربي</a>
          <% } %> <% if (lang === "ar") { %>
          <a href="/en" class="nav-link">English</a>
          <% } %>
        </li>
        <li class="nav-item cta">
          <a
            href="#Contact"
            class="nav-link"
            data-toggle="modal"
            data-target="#modalRequest"
          >
            <span>
              <% if (lang !== "ar") { %> Contact Us <% } else { %> اتصل بنا <% }
              %>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
