<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container" id="sh-rtl">
    <a class="navbar-brand" href="/">
      <img src="/images/easyweb.png" alt="easyweb logo" style="width: 150px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bx bx-menu"></i>
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="#" class="nav-link">
            <% if (lang !== "ar") { %> Home <% } else { %> الصفحة الرئيسية <% }
            %>
          </a>
        </li>
        <li class="nav-item">
          <a href="#About" class="nav-link">
            <% if (lang !== "ar") { %> About Us <% } else { %> معلومات عنا <% }
            %>
          </a>
        </li>
        <li class="nav-item">
          <a href="#Services" class="nav-link">
            <% if (lang !== "ar") { %> Services <% } else { %> الخدمات <% } %>
          </a>
        </li>
        <li class="nav-item">
          <a href="#Pricing" class="nav-link">
            <% if (lang !== "ar") { %> Pricing <% } else { %> الاسعار <% } %>
          </a>
        </li>
        <li class="nav-item">
          <% if (lang === "ar") { %>
          <a href="/en" class="nav-link">English</a>
          <% } else { %>
          <a href="/ar" class="nav-link">عربي</a>
          <% } %>
        </li>
        <li class="nav-item cta">
          <a
            href="#Contact"
            class="nav-link"
            data-toggle="modal"
            data-target="#modalRequest"
          >
            <span>
              <% if (lang !== "ar") { %> Contact Us <% } else { %> اتصل بنا <% }
              %>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
<div
  class="modal fade sh-rtl"
  id="modalRequest"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalRequestLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRequestLabel">
          <% if (lang === "ar") { %> اتصل بنا <% } else { %> Contact Us <% } %>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/contact" method="POST">
          <div class="form-group">
            <label for="appointment_name" class="text-black sr-only">
              <% if (lang === "ar") { %> الاسم الكامل <% } else { %> Full Name
              <% } %>
            </label>
            <input
              type="text"
              name="name"
              class="form-control"
              id="appointment_name"
              placeholder="<% if (lang === 'ar') { %> الاسم الكامل <% } else { %> Full Name <% } %>"
            />
          </div>
          <div class="form-group">
            <label for="appointment_email" class="text-black sr-only">
              <% if (lang === "ar") { %> البريد الإلكتروني <% } else { %> Email
              <% } %>
            </label>
            <input
              type="text"
              class="form-control"
              name="email"
              id="appointment_email"
              placeholder="<% if (lang === 'ar') { %> البريد الإلكتروني <% } else { %> Email <% } %>"
            />
          </div>
          <div class="form-group">
            <label for="appointment_phone" class="text-black sr-only">
              <% if (lang === "ar") { %> رقم الهاتف <% } else { %> Phone <% } %>
            </label>
            <input
              type="tel"
              class="form-control sh-rtl"
              name="phone"
              id="appointment_phone"
              placeholder="<% if (lang === 'ar') { %> رقم الهاتف <% } else { %> Phone <% } %>"
            />
          </div>

          <div class="form-group">
            <label for="appointment_message" class="text-black sr-only">
              <% if (lang === "ar") { %> الرسالة <% } else { %> Message <% } %>
            </label>
            <textarea
              id="appointment_message"
              class="form-control"
              name="message"
              cols="30"
              rows="10"
              placeholder="<% if (lang === 'ar') { %> الرسالة <% } else { %> Message <% } %>"
            ></textarea>
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="<% if (lang === 'ar') { %> اتصل بنا <% } else { %> Contact Us <% } %>"
              class="btn btn-primary"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
